<%
function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    //Object.keys повертає масив ключів в об’єкті JavaScript

    Object.keys(content).forEach(function(key){
        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });
    return result;
}
   %>


<div class="col-md-6 col-lg-4 pizza-card">
    <div class="thumbnail">
        <img class="pizza-icon" src="<%= pizza.icon %>" alt="Піца">

        <% if(pizza.is_new) { %>
        <h3 class="pizza-label-new"> <span class="label label-danger">Нова</span></h3>
        <% } else if(pizza.is_popular) {%>
        <h3 class="pizza-label-popular">  <span class="label label-success">Популярна</span></h3>
        <% } %>

        <div class="caption"><h3><%= pizza.title %></h3>
            <h5><%= pizza.type %></h5>
            <div class="description"> <%= getIngredientsArray(pizza).join(", ") %> </div>
            <div class="row">
                <%
                function	getPizzaColumn(pizza)	{
                    if(pizza.big_size && pizza.small_size)	{
                        return	"col-sm-6";
                    }	else	{	return	"col-sm-12";}
                }
                %>
                <% if(pizza.small_size) {%>
                <div class="<%=	getPizzaColumn(pizza)	%> small-pizza">
                    <div>
                        <img class="size-icon" src="assets/images/size-icon.svg" alt="Розмір">
                        <span class="number"> <%= pizza.small_size.size %> </span>
                    </div>
                    <div>
                        <img class="size-icon" src="assets/images/weight.svg" alt="Розмір">
                        <span class="number"> <%= pizza.small_size.weight %> </span>
                    </div>
                    <h2>
                        <div class="price">
                            <%= pizza.small_size.price %>
                            <div style="font-size: 14px">грн</div>
                        </div>
                    </h2>
                    <a class="btn btn-warning buy-button-small" role="button">Купити</a>
                </div>
                <%}%>
                <% if(pizza.big_size) { %>
                <div class="<%=	getPizzaColumn(pizza)	%> big-pizza">
                    <div>
                        <img class="size-icon" src="assets/images/size-icon.svg" alt="Розмір">
                        <span class="number"> <%= pizza.big_size.size %> </span>
                    </div>
                    <div>
                        <img class="size-icon" src="assets/images/weight.svg" alt="Розмір">
                        <span class="number"> <%= pizza.big_size.weight %> </span>
                    </div>
                    <h2>
                        <div class="price">
                            <%= pizza.big_size.price %>
                            <div style="font-size:14px;">грн</div>
                        </div>
                    </h2>
                    <a class="btn btn-warning buy-button-big">Купити</a>
                </div>
                <%}%>
            </div>
        </div>
    </div>
</div>

